.docs-Home {
  padding: 2rem;
}

  .docs-Home blockquote,
  .docs-Home pre {
    background: #fafafa;
    padding: .5rem;
    padding-left: 2rem;
    margin: 0;
  }

  .docs-Home img {
    max-width: 100%;
  }
